PROJECT_ROOT="/home/user/project"
HF_TOKEN=<YOUR_HF_TOKEN>

STORAGE_PATH="/home/user/project/storage"

EVALUATION_RESULTS_PATH="/home/user/project/storage/evaluation_results"

TRAINED_MODELS_PATH="/home/user/project/storage/trained_models"

TRAINED_AUTOENCODERS_PATH="/home/user/project/storage/trained_autoencoders"